button, input, select, textarea
  font-family inherit
  font-size inherit
  line-height inherit
  color inherit
  margin 0

  &focus
    outline none

input[type="button"],
input[type="submit"],
input[type="reset"]
  appearance button

details
  border none

  &:focus, &:hover, &:active
    outline none

summary
  cursor pointer
  user-select none

  &::-webkit-details-marker
    display none

  &:focus, &:hover, &:active
    outline none
